<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | REFAITES VOS JEUX</title>
        <link rel="icon" href="/build/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/build/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/build/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/build/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/build/images/favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% block link %}{% endblock %}

        <script src="https://kit.fontawesome.com/39dfe16fa3.js" crossorigin="anonymous"></script>

        {% include "site/components/meta_og.html.twig" %}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('site') }}
        {% endblock %}
    </head>
    <body>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v15.0" nonce="8opvHqhv"></script>
            
            {% include "site/nav.html.twig" %}

            {% if infosAndConfig.config.holiday is not null %}
                {% include "site/marquee.html.twig" %}
            {% endif %}
            
            {% include "commun/flash_message.html.twig" %}

            <div class="container-fluid d-flex flex-column justify-content-between h-100">
                {% block body %}{% endblock %}
            </div>

            {% include "site/footer.html.twig" %}

            {% block javascripts %}
                {{ encore_entry_script_tags('site') }}
            {% endblock %}
    </body>
</html>
