{% extends 'site/base.html.twig' %}

{% block title %}Trouvez la pièce qu'il vous manque
{% endblock %}

{% block body %}

    <div class="row my-5 pt-3">
        {% include "site/components/index/_links.html.twig" %}
    </div>

    <div class="row mt-2 mb-5">
        {% include "site/components/index/_stats.html.twig" %}
    </div>

{% endblock %}
