<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('app_member_historique') }}">Historique</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_adresse_index') }}">Adresses enregistrées</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Compte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>