<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ADMIN - {% block title %}{% endblock %}</title>
        <link rel="icon" href="/build/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/build/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/build/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/build/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/build/images/favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <script src="https://kit.fontawesome.com/39dfe16fa3.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {% include "admin/nav.html.twig" %}
        {% include "components/flash_message.html.twig" %}

        <div class="container my-5">
            {% block body %}{% endblock %}
        </div>

        {% include "admin/footer.html.twig" %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
