{% extends 'site/base.html.twig' %}

{% block title %}Catalogue des pièces détachées{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Catalogue des pièces détachées</h1>

    <div class="row">
            {{ form_start(catalogueFiltersForm) }}
                <div class="col-8 col-sm-6 col-md-4 mx-auto d-flex justify-content-center">{{ form_row(catalogueFiltersForm.filters) }}</div>
            {{ form_end(catalogueFiltersForm) }}
    </div>
    <div class="row justify-content-start">

        {% for key,boite in boites %}
            
        {% include "site/components/catalogues/card-pieces-detachees.html.twig" %}

        {% endfor %}
    </div>

    {% if boites | length > 0 %}

        <div class="row my-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(boites, 'site/components/catalogues/pagination.html.twig') }}
            </div>
        </div>

    {% endif %}

<script>
    let filters = document.getElementById("catalogue_filters_filters");

    filters.addEventListener('change', function(){
        let filter = this.selectedIndex;
        let link ="/catalogue-pieces-detachees/?tri="+this.options[filter].value;
        window.location.href = link;
    })




</script>

{% endblock %}
