<fieldset>
    <legend>Informations</legend>
        <ul class="list-group">
            <li class="list-group-item">SUPER-ADMIN: 100 et plus</li>
            <li class="list-group-item">ADMIN: de 90 à < 100</li>
            <li class="list-group-item">Voir pour plus...</li>
        </ul>
</fieldset>