<form method="post" action="{{ path('app_ville_france_delete', {'id': ville_france.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville_france.id) }}">
    <button class="btn">Delete</button>
</form>
