<!DOCTYPE html>

<title>Edit VilleFrance</title>

{% block body %}
    <h1>Edit VilleFrance</h1>

    {{ include('admin/ville_france/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ville_france_index') }}">back to list</a>

    {{ include('admin/ville_france/_delete_form.html.twig') }}
{% endblock %}
