<!DOCTYPE html>

<title>New VilleFrance</title>

{% block body %}
    <h1>Create new VilleFrance</h1>

    {{ include('ville_france/_form.html.twig') }}

    <a href="{{ path('app_ville_france_index') }}">back to list</a>
{% endblock %}
