{% extends 'member/base.html.twig' %}

{% block member %}
    <a class="btn btn-primary" href="{{ path('app_adresse_index') }}">Retour aux adresses</a>

    <div class="row my-5">
    <h3>Création d'une adresse:</h3>

    {{ include('member/adresse/_form.html.twig') }}

    </div>
{% endblock %}
