<!DOCTYPE html>

<title>New Envelope</title>

{% block body %}
    <h1>Create new Envelope</h1>

    {{ include('admin/envelope/_form.html.twig') }}

    <a href="{{ path('app_envelope_index') }}">back to list</a>
{% endblock %}
