{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des rôles{% endblock %}

{% block body %}
    <h1>Create new Role</h1>

    {{ include('admin_role/_form.html.twig') }}

    <div class="row my-4">
        <div class="col-12">
            {% include "admin/components/liste_des_roles.html.twig" %}
        </div>
    </div>

    <a href="{{ path('app_admin_role_index') }}">back to list</a>
{% endblock %}
