{% extends 'admin/base.html.twig' %}

{% block title %}Informations légales{% endblock %}

{% block body %}

    <h1>Edit InformationsLegales</h1>

    {{ include('admin/informations_legales/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_informations_legales_index') }}">back to list</a>

    {{ include('admin/informations_legales/_delete_form.html.twig') }}
{% endblock %}
