{% extends 'admin/base.html.twig' %}

{% block title %}Édition d'une boite{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Édition d'une boite</h1>

    <a class="btn btn-primary mb-5" href="{{ path('admin_boite_index') }}">Retour à la liste</a>

    {{ include('admin/boite/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
