<!DOCTYPE html>

<title>New Boite</title>

{% block body %}
    <h1>Create new Boite</h1>

    {{ include('admin/boite/_form.html.twig') }}

    <a href="{{ path('admin_boite_index') }}">back to list</a>
{% endblock %}
