{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Création d'un article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a href="{{ path('app_article_index', {'boite': boite.id}) }}">back to list</a>
{% endblock %}
