<!DOCTYPE html>

<title>New Delivery</title>

{% block body %}
    <h1>Create new Delivery</h1>

    {{ include('admin/delivery/_form.html.twig') }}

    <a href="{{ path('app_delivery_index') }}">back to list</a>
{% endblock %}
