<h3>Message du site</h3>

<table class="table">
    <tr>
        <td>Expéditeur:</td>
        <td>{{ expediteur }}</td>
    </tr>
    <tr>
        <td>Message:</td>
        <td>{{ message }}</td>
    </tr>
</table>